.search-flex{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 1rem; */
    background-color: var(--darkgray);
    border-radius: 3rem;
    padding: 0.7rem 2rem;
    margin: 1rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
.search-flex input{
    width: 85%;
    background-color: var(--darkgray);
    font-size: larger;
    color: var(--gray);
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
}
.search-icon{
    color: var(--gray);
}